

.description .item+.item {
    margin-left: 30px;
}
.about {
@media screen and (max-width: 1199px) {
        display: none;
        padding-top: 0;
    }
}
.info-list {
    display: flex;
    flex-wrap: wrap;
        gap: var(--indent);
        --items: 1;
        justify-content: center;
    
        @media screen and (min-width: 768px) {
            --items: 2;
        }
    
        @media screen and (min-width:1200px) {
            --items: 4;
        }
}

.about-title {
    width: 450px;

    @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width:1200px) {
            width: 270px;
        }

}

.info-about {
    margin-bottom: 10px;
}

h2.info-about {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txy-cl);
    margin-bottom: 9px;

    @media screen and (max-width: 768px) {
            text-align: center;
        }
}

.info-about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--sec-txt-cl);
}
