.footer {
    padding: 60px 0;
    background-color: var(--darc-bg-cl);
}
.footer-tablet {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        justify-content: unset;
        margin-bottom: 0;
        gap: 70px;
    }
}

.footer-mailing {
    @media screen and (min-width:1200px) {
        margin-left: auto;
    }
}


.footer-container {
    @media screen and (max-width: 1200px) {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            flex-direction: row;
        }
}

.footer-addresa{
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-direction: column;
        }

        @media screen and (min-width: 1200px) {
            justify-content: unset;
            margin-bottom: 0;
        }
    }

        .footer-list {
        @media screen and (max-width: 767px) {
                    margin-top: 0;
                
                }
        }

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address {
    font-style: normal;
    flex-direction: column;
}

.footer-mail,
.footer-phone {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-duration) var(--timing-function);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accet-txt-cl);
}

.footer-phone:hover,
.footer-phone:focus {
    color: var(--accet-txt-cl);
}

.footer-link {
    color: var(--sec-txt-cl);
    transition: color var(--time-duration) var(--timing-function);

    &:hover,
    &:focus {
            color: var(--accet-txt-cl);
        }
}
