.header {
    position: relative;
    z-index: -1px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;

    @media screen and (min-width:768px) {
            justify-content: space-between;
            align-items: center;
        }
    
    @media screen and (max-width: 767px) {
            justify-content: space-between;
        }
    
    @media screen and (min-width: 1200px) {
            justify-content: normal;
        }
}

.nav {
    display: flex;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav__list {
    display: flex;
    color: var(--main-txy-cl);
    align-items: center;
    gap: 50px;
}

.nav__link--current {
    position: relative;
    color: var(--accet-txt-cl);

    &:after {
            position: absolute;
            bottom: -1px;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accet-txt-cl);

            @media screen and (max-width: 767px) {
            display: none;
            }
        }
}

.nav__link--current-second {
    position: relative;
    color: var(--accet-txt-cl);
    padding-bottom: 32px;

    &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accet-txt-cl);

            @media screen and (max-width: 767px) {
            display: none;
                }
        }
}

.header-icon {
    fill: currentColor;

    &:hover,
    &:focus {
            color: var(--acent-txt-cl);
            transition: color var(--time-duration) var(--timing-function);
        }
}

.header-link,
.header-phone,
.header-mail {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--time-duration) var(--timing-function);
}

.nav__link,
.nav__link--current,
.nav__link--current-second .header-mail {
    display: block;
    color: var(--main-txy-cl);
    padding: 32px 0;
    transition: color var(--time-duration) var(--timing-function);
}

.nav__link:last-child {
    margin-right: 0;
}

.header-mail {
    margin-right: 50px;
}

.hover-link:hover .hover-link:focus .hover-link:active {
    color: var(--accet-txt-cl);
    transition: color var(--time-duration) var(--timing-function);
}

.header-link:hover .header-link:focus .header-link:active {
    color: var(--accet-txt-cl);
    transition: color var(--time-duration) var(--timing-function);
}

.header-phone,
.header-mail {
    color: var(--sec-txt-cl);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--time-duration) var(--timing-function);
}

.header-nav-nav {
    display: flex;
}

.nav__list,
.header-nav-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.nav__link--current {
    color: var(--accet-txt-cl);
    transition: color var(--time-duration) var(--timing-function);
}

.nav__link--current-second {
    color: var(--accet-txt-cl);
    transition: color var(--time-duration) var(--timing-function);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accet-txt-cl);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accet-txt-cl);
}

.header-phone:hover,
.header-phone:focus {
    color: var(--accet-txt-cl);
}