.work {
    margin-top: 94px;
    margin-bottom: 94px;
}

.work-cart-about {
    text-decoration: none;
    transition: box-shadow var(--time-duration) var(--timing-function);
    display: block;
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.work-thumb {
    position: relative;
    overflow: hidden;
}

.work-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--accet-txt-cl);
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-cart-about:hover .work-overlay,
.work-cart-about:focus .work-overlay {
    transform: translateY(-100%);
}

.about-cards {
    text-decoration: none;
    border-top: none;
    border: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.work-card-img {
        @media screen and (min-width: 768px) {
            width: 354px;
            height: 294px;
        }

        @media screen and (min-width: 1200px) {
            width: 370px;
            height: 294px;
        }
    }
