.about-list {
    display: flex;
}
.about-list__item {
    position: relative;
    display: block;
    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.work-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    text-decoration: none;
}
.work-card {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}