.logo {
color: var(--main-txy-cl);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;

    @media screen and (min-width: 768px) {
            margin-right: 88px;
        }
    
    @media screen and (min-width: 1200px) {
            margin-right: 92px;
        }
    
    @media screen and (max-width: 767px) {
            margin-right: 0;
            padding-bottom: 16px;
            padding-top: 16px;
        }
}

.logo-footer {
    margin-top: 60px;
    margin-bottom: 20px;
}

.web {
    font-family: var(--secondary-font);
    color: var(--accet-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;

    
}

.studio {
    color: white;
    text-decoration: none;
}

.foorer-logo {
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

