.portfolio-list {
    padding: 0;
        margin: 0;
        margin-bottom: 40px;
        gap: 15px 8px;
        display: flex;
        flex-wrap: wrap;
    
        @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 48px;
        }
}

.portfolio-item {
    background: var(--light-bg-cl);
    border-radius: 4px;
    transition: color var(--time-duration) var(--timing-function),
        background-color var(--time-duration) var(--timing-function),
        box-shadow var(--time-duration) var(--timing-function);
}

.portfolio-card{
        display: flex;
        flex-wrap: wrap;
        gap: var(--indent);
        --items: 1;

        @media screen and (min-width:768px) {
            --items: 2;
        }

        @media screen and (min-width:1200px) {
            --items: 3;
        }
    }