h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-txt-cl);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}